body {
    height: 100vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/ddbtakrr5/image/upload/v1667453006/YelpCamp/fvbucvbgfjlukbctlr1p.jpg");
    background-size: cover;
    background-position: center;   
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);

}

.cover-container {
    max-width: 60vw;  
               /*vw- view-width */
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5)
}

.btn-secondary{
    color: white;
    text-shadow: none;
}

.btn-secondary:hover{
    color:black;
    background-color: aliceblue;

}

.nav-link.active {
    color: white;
    border-bottom-color:white
}